USE [iLibrarySystem]
GO
/****** Object:  Table [dbo].[tbl_UserActivity]    Script Date: 04/25/2020 04:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_UserActivity](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [nvarchar](15) NOT NULL,
	[ACTIVITY] [varchar](300) NOT NULL,
	[ADDED_DATE] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_UserAccess]    Script Date: 04/25/2020 04:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserAccess](
	[BookDetails] [bit] NULL,
	[BookEntry] [bit] NULL,
	[BookAuthor] [bit] NULL,
	[BookCategory] [bit] NULL,
	[BookLocation] [bit] NULL,
	[BookPolicy] [bit] NULL,
	[BorrowerDetails] [bit] NULL,
	[BorrowerEntry] [bit] NULL,
	[BorrowBook] [bit] NULL,
	[ReturnBook] [bit] NULL,
	[PayBook] [bit] NULL,
	[BorrowerRequest] [bit] NULL,
	[UserAccount] [bit] NULL,
	[UserAccess] [bit] NULL,
	[UserRole] [bit] NULL,
	[DBBackup] [bit] NULL,
	[ImportExport] [bit] NULL,
	[RBookList] [bit] NULL,
	[RBorrowerList] [bit] NULL,
	[ResetData] [bit] NULL,
	[Role] [nvarchar](15) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_UserAccess] ([BookDetails], [BookEntry], [BookAuthor], [BookCategory], [BookLocation], [BookPolicy], [BorrowerDetails], [BorrowerEntry], [BorrowBook], [ReturnBook], [PayBook], [BorrowerRequest], [UserAccount], [UserAccess], [UserRole], [DBBackup], [ImportExport], [RBookList], [RBorrowerList], [ResetData], [Role]) VALUES (1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, NULL, 1, 1, 1, NULL, N'ADMINISTRATOR')
INSERT [dbo].[tbl_UserAccess] ([BookDetails], [BookEntry], [BookAuthor], [BookCategory], [BookLocation], [BookPolicy], [BorrowerDetails], [BorrowerEntry], [BorrowBook], [ReturnBook], [PayBook], [BorrowerRequest], [UserAccount], [UserAccess], [UserRole], [DBBackup], [ImportExport], [RBookList], [RBorrowerList], [ResetData], [Role]) VALUES (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, NULL, 0, 1, 1, NULL, N'CLERK')
INSERT [dbo].[tbl_UserAccess] ([BookDetails], [BookEntry], [BookAuthor], [BookCategory], [BookLocation], [BookPolicy], [BorrowerDetails], [BorrowerEntry], [BorrowBook], [ReturnBook], [PayBook], [BorrowerRequest], [UserAccount], [UserAccess], [UserRole], [DBBackup], [ImportExport], [RBookList], [RBorrowerList], [ResetData], [Role]) VALUES (1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, NULL, 0, 1, 1, NULL, N'USER')
/****** Object:  Table [dbo].[tbl_User]    Script Date: 04/25/2020 04:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[USERNAME] [nvarchar](50) NOT NULL,
	[FULLNAME] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](50) NULL,
	[ROLE] [nvarchar](50) NULL,
	[CONTACT_NO] [nvarchar](15) NULL,
	[ADDRESS] [nvarchar](250) NULL,
	[ADDED_BY] [nvarchar](50) NULL,
	[DATE_ADDED] [datetime] NULL,
	[STATUS] [nvarchar](10) NULL,
 CONSTRAINT [PK_tbl_User] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_User] ([USERNAME], [FULLNAME], [PASSWORD], [ROLE], [CONTACT_NO], [ADDRESS], [ADDED_BY], [DATE_ADDED], [STATUS]) VALUES (N'nikki', N'NICOLE KWAN', N'nikki', N'CLERK', N'0929292911', N'ANTIPOLO', N'Rolly', CAST(0x0000ABA100000000 AS DateTime), N'ACTIVE')
INSERT [dbo].[tbl_User] ([USERNAME], [FULLNAME], [PASSWORD], [ROLE], [CONTACT_NO], [ADDRESS], [ADDED_BY], [DATE_ADDED], [STATUS]) VALUES (N'rolly', N'ROLIMER E. PONO', N'rolly', N'ADMINISTRATOR', N'09773317615', N'SURIGAO CITY', N'Rolly', CAST(0x0000ABA200000000 AS DateTime), N'ACTIVE')
/****** Object:  Table [dbo].[tbl_Role]    Script Date: 04/25/2020 04:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Role](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ROLE] [nvarchar](15) NOT NULL,
	[STATUS] [nvarchar](10) NULL,
 CONSTRAINT [PK_tbl_Role] PRIMARY KEY CLUSTERED 
(
	[ROLE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Role] ON
INSERT [dbo].[tbl_Role] ([ID], [ROLE], [STATUS]) VALUES (2, N'ADMINISTRATOR', N'ACTIVE')
INSERT [dbo].[tbl_Role] ([ID], [ROLE], [STATUS]) VALUES (3, N'CLERK', N'ACTIVE')
INSERT [dbo].[tbl_Role] ([ID], [ROLE], [STATUS]) VALUES (1, N'USER', N'ACTIVE')
SET IDENTITY_INSERT [dbo].[tbl_Role] OFF
/****** Object:  Table [dbo].[tbl_Policy]    Script Date: 04/25/2020 04:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Policy](
	[DUE_PENALTY] [float] NOT NULL,
	[LOST_DAMAGE_INTEREST] [float] NULL,
	[DAYS_LIMIT] [int] NOT NULL,
	[BOOK_LIMIT] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_Policy] ([DUE_PENALTY], [LOST_DAMAGE_INTEREST], [DAYS_LIMIT], [BOOK_LIMIT]) VALUES (5, 5, 7, 5)
/****** Object:  Table [dbo].[tbl_Penalties]    Script Date: 04/25/2020 04:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Penalties](
	[TRANSACTION_NO] [nvarchar](50) NULL,
	[ADDED_DATE] [nvarchar](10) NULL,
	[TOTAL_DUE] [decimal](6, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Location]    Script Date: 04/25/2020 04:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Location](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LOCATION] [nvarchar](50) NOT NULL,
	[STATUS] [nvarchar](10) NULL,
 CONSTRAINT [PK_tbl_Location] PRIMARY KEY CLUSTERED 
(
	[LOCATION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Location] ON
INSERT [dbo].[tbl_Location] ([ID], [LOCATION], [STATUS]) VALUES (1, N'FLOOR - A', N'ACTIVE')
INSERT [dbo].[tbl_Location] ([ID], [LOCATION], [STATUS]) VALUES (2, N'FLOOR - B', N'ACTIVE')
INSERT [dbo].[tbl_Location] ([ID], [LOCATION], [STATUS]) VALUES (3, N'FLOOR - C', N'ACTIVE')
SET IDENTITY_INSERT [dbo].[tbl_Location] OFF
/****** Object:  Table [dbo].[tbl_Category]    Script Date: 04/25/2020 04:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Category](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CATEGORY] [nvarchar](20) NOT NULL,
	[STATUS] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_tbl_Category] PRIMARY KEY CLUSTERED 
(
	[CATEGORY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Category] ON
INSERT [dbo].[tbl_Category] ([ID], [CATEGORY], [STATUS]) VALUES (9, N'DICTIONARY', N'ACTIVE')
INSERT [dbo].[tbl_Category] ([ID], [CATEGORY], [STATUS]) VALUES (7, N'FICTION', N'ACTIVE')
INSERT [dbo].[tbl_Category] ([ID], [CATEGORY], [STATUS]) VALUES (4, N'GENERAL SCIENCE', N'ACTIVE')
SET IDENTITY_INSERT [dbo].[tbl_Category] OFF
/****** Object:  Table [dbo].[tbl_BorrowerRequest]    Script Date: 04/25/2020 04:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BorrowerRequest](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BOOK_ID] [nvarchar](50) NULL,
	[BORROWER_ID] [nvarchar](50) NOT NULL,
	[BOOK_NO] [nvarchar](50) NOT NULL,
	[TITLE] [nvarchar](50) NULL,
	[SUBJECT] [nvarchar](50) NULL,
	[CATEGORY] [nvarchar](50) NULL,
	[AUTHOR] [nvarchar](50) NULL,
	[PUBLISH_DATE] [nvarchar](10) NULL,
	[ISBN_NUMBER] [nvarchar](50) NULL,
	[LOCATION] [nvarchar](50) NULL,
	[BOOK_PRICE] [decimal](6, 2) NULL,
	[RENT_PRICE] [decimal](6, 2) NULL,
	[DUE_PENALTY_INTEREST] [decimal](6, 2) NULL,
	[LOST_DAMAGE_INTEREST] [decimal](6, 2) NULL,
	[ADDED_DATE] [nvarchar](10) NULL,
	[ADDED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [nvarchar](10) NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[DAYS_BORROWED] [int] NULL,
	[REMARKS] [nvarchar](50) NULL,
	[STATUS] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Borrower]    Script Date: 04/25/2020 04:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Borrower](
	[BORROWER_ID] [nvarchar](50) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NULL,
	[MIDDLE_NAME] [nvarchar](50) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[DOB] [nvarchar](10) NULL,
	[AGE] [int] NULL,
	[CONTACT_NO] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](50) NULL,
	[ADDED_DATE] [nvarchar](10) NULL,
	[ADDED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [nvarchar](10) NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[STATUS] [nvarchar](10) NULL,
	[PROFILE_PIC] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_Students_1] PRIMARY KEY CLUSTERED 
(
	[BORROWER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_Borrower] ([BORROWER_ID], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [DOB], [AGE], [CONTACT_NO], [ADDRESS], [ADDED_DATE], [ADDED_BY], [MODIFIED_DATE], [MODIFIED_BY], [STATUS], [PROFILE_PIC]) VALUES (N'BWR-00001', N'NICOLE', N'J', N'KWAN', N'1990-04-18', 30, N'0920102201', N'ANTIPOLO', N'2020-04-18', N'admin', N'2020-04-25', N'admin', N'ACTIVE', N'')
INSERT [dbo].[tbl_Borrower] ([BORROWER_ID], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [DOB], [AGE], [CONTACT_NO], [ADDRESS], [ADDED_DATE], [ADDED_BY], [MODIFIED_DATE], [MODIFIED_BY], [STATUS], [PROFILE_PIC]) VALUES (N'BWR-00002', N'ROLIMER ', N'E', N'PONO', N'1988-04-18', 32, N'09773317613', N'ANTIPOLO', N'2020-04-18', N'admin', N'2020-04-25', N'admin', N'ACTIVE', N'')
INSERT [dbo].[tbl_Borrower] ([BORROWER_ID], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [DOB], [AGE], [CONTACT_NO], [ADDRESS], [ADDED_DATE], [ADDED_BY], [MODIFIED_DATE], [MODIFIED_BY], [STATUS], [PROFILE_PIC]) VALUES (N'BWR-00003', N'RIONILA', N'P', N'ECEL', N'1988-04-19', 32, N'09203320102', N'RIZAL', N'2020-04-19', N'admin', N'2020-04-25', N'admin', N'ACTIVE', N'')
/****** Object:  Table [dbo].[tbl_BorrowedBooks]    Script Date: 04/25/2020 04:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BorrowedBooks](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BOOK_ID] [nvarchar](50) NULL,
	[BORROWER_ID] [nvarchar](50) NOT NULL,
	[BOOK_NO] [nvarchar](50) NOT NULL,
	[TITLE] [nvarchar](50) NULL,
	[SUBJECT] [nvarchar](50) NULL,
	[CATEGORY] [nvarchar](50) NULL,
	[AUTHOR] [nvarchar](50) NULL,
	[PUBLISH_DATE] [nvarchar](10) NULL,
	[ISBN_NUMBER] [nvarchar](50) NULL,
	[LOCATION] [nvarchar](50) NULL,
	[BOOK_PRICE] [decimal](6, 2) NULL,
	[RENT_PRICE] [decimal](6, 2) NULL,
	[DUE_PENALTY_INTEREST] [decimal](6, 2) NULL,
	[LOST_DAMAGE_INTEREST] [decimal](6, 2) NULL,
	[ADDED_DATE] [nvarchar](10) NULL,
	[ADDED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [nvarchar](10) NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[DAYS_BORROWED] [int] NULL,
	[REMARKS] [nvarchar](50) NULL,
	[STATUS] [nvarchar](50) NULL,
	[TOTAL_AMOUNT] [decimal](6, 0) NULL,
	[TRANSACTION_NO] [nvarchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Books]    Script Date: 04/25/2020 04:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Books](
	[ID] [bigint] NOT NULL,
	[BOOK_NO] [nvarchar](50) NOT NULL,
	[TITLE] [nvarchar](50) NULL,
	[SUBJECT] [nvarchar](50) NULL,
	[CATEGORY] [nvarchar](50) NULL,
	[AUTHOR] [nvarchar](50) NULL,
	[PUBLISH_DATE] [nvarchar](10) NULL,
	[ISBN_NUMBER] [nvarchar](50) NOT NULL,
	[LOCATION] [nvarchar](50) NULL,
	[BOOK_PRICE] [decimal](6, 2) NULL,
	[RENT_PRICE] [decimal](6, 2) NULL,
	[ADDED_DATE] [nvarchar](10) NULL,
	[ADDED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [nvarchar](10) NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[REMARKS] [nvarchar](15) NULL,
	[STATUS] [nvarchar](10) NULL,
 CONSTRAINT [PK_tbl_Books] PRIMARY KEY CLUSTERED 
(
	[BOOK_NO] ASC,
	[ISBN_NUMBER] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_Books] ([ID], [BOOK_NO], [TITLE], [SUBJECT], [CATEGORY], [AUTHOR], [PUBLISH_DATE], [ISBN_NUMBER], [LOCATION], [BOOK_PRICE], [RENT_PRICE], [ADDED_DATE], [ADDED_BY], [MODIFIED_DATE], [MODIFIED_BY], [REMARKS], [STATUS]) VALUES (1, N'BKR-00001', N'INTRO TO PROGRAMMING (C#.NET)', N'PROGRAMMING', N'PROGRAMMING', N'LYNDA D COM', N'2020-04-18', N'1001', N'FLOOR - A', CAST(800.00 AS Decimal(6, 2)), CAST(150.00 AS Decimal(6, 2)), N'2020-04-18', N'CURRENT USER', N'', N'', N'', N'ACTIVE')
INSERT [dbo].[tbl_Books] ([ID], [BOOK_NO], [TITLE], [SUBJECT], [CATEGORY], [AUTHOR], [PUBLISH_DATE], [ISBN_NUMBER], [LOCATION], [BOOK_PRICE], [RENT_PRICE], [ADDED_DATE], [ADDED_BY], [MODIFIED_DATE], [MODIFIED_BY], [REMARKS], [STATUS]) VALUES (1, N'BKR-00002', N'INTRO TO PROGRAMMING (C#.NET)', N'PROGRAMMING', N'PROGRAMMING', N'LYNDA D COM', N'2020-04-18', N'1002', N'FLOOR - A', CAST(800.00 AS Decimal(6, 2)), CAST(150.00 AS Decimal(6, 2)), N'2020-04-18', N'CURRENT USER', N'', N'', N'', N'ACTIVE')
INSERT [dbo].[tbl_Books] ([ID], [BOOK_NO], [TITLE], [SUBJECT], [CATEGORY], [AUTHOR], [PUBLISH_DATE], [ISBN_NUMBER], [LOCATION], [BOOK_PRICE], [RENT_PRICE], [ADDED_DATE], [ADDED_BY], [MODIFIED_DATE], [MODIFIED_BY], [REMARKS], [STATUS]) VALUES (1, N'BKR-00003', N'INTRO TO PROGRAMMING (C#.NET)', N'PROGRAMMING', N'PROGRAMMING', N'LYNDA D COM', N'2020-04-18', N'1003', N'FLOOR - A', CAST(800.00 AS Decimal(6, 2)), CAST(150.00 AS Decimal(6, 2)), N'2020-04-18', N'CURRENT USER', N'2020-04-24', N'admin', N'', N'ACTIVE')
/****** Object:  Table [dbo].[tbl_Author]    Script Date: 04/25/2020 04:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Author](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NOT NULL,
	[MIDDLE_NAME] [nvarchar](50) NOT NULL,
	[LAST_NAME] [nvarchar](50) NOT NULL,
	[STATUS] [nchar](10) NULL,
 CONSTRAINT [PK_tbl_Author] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[FIRST_NAME] ASC,
	[MIDDLE_NAME] ASC,
	[LAST_NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Author] ON
INSERT [dbo].[tbl_Author] ([ID], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [STATUS]) VALUES (7, N'LEONARD', N'A', N'AMOR', N'ACTIVE    ')
INSERT [dbo].[tbl_Author] ([ID], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [STATUS]) VALUES (8, N'VINCENT', N'B', N'GALLOS', N'ACTIVE    ')
INSERT [dbo].[tbl_Author] ([ID], [FIRST_NAME], [MIDDLE_NAME], [LAST_NAME], [STATUS]) VALUES (9, N'LYNDA', N'D', N'COM', N'ACTIVE    ')
SET IDENTITY_INSERT [dbo].[tbl_Author] OFF
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_USERACCESS]    Script Date: 04/25/2020 04:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_USERACCESS]

@BOOK_DETAILS			BIT,
@BOOK_ENTRY				BIT, 
@BOOK_AUTHOR			BIT,
@BOOK_CATEGORY			BIT,
@BOOK_LOCATION			BIT,
@BOOK_POLICY			BIT,
@BORROWER_DETAILS		BIT,
@BORROWER_ENTRY			BIT,
@BORROW_BOOK			BIT,
@RETURN_BOOK			BIT,
@PAY_BOOK				BIT,
@BORROWER_REQUEST		BIT,
@USER_ACCOUNT			BIT,
@USER_ACCESS			BIT,
@USER_ROLE				BIT,
@IMPORT_EXPORT			BIT,
@RBOOK_LIST				BIT,
@RBORROWER_LIST			BIT,
@ROLE				NVARCHAR(15)

AS

UPDATE TBL_USERACCESS
SET		BOOKDETAILS		= @BOOK_DETAILS, BOOKENTRY	= @BOOK_ENTRY, BOOKAUTHOR = @BOOK_AUTHOR,
		BOOKCATEGORY	= @BOOK_CATEGORY, BOOKLOCATION = @BOOK_LOCATION, BOOKPOLICY = @BOOK_POLICY,
		BORROWERDETAILS = @BORROWER_DETAILS, BORROWERENTRY = @BORROWER_ENTRY, BORROWBOOK = @BORROW_BOOK,
		RETURNBOOK		= @RETURN_BOOK, PAYBOOK = @PAY_BOOK, BORROWERREQUEST = @BORROWER_REQUEST,
		USERACCOUNT		= @USER_ACCOUNT, USERACCESS = @USER_ACCESS,USERROLE = @USER_ROLE, IMPORTEXPORT = @IMPORT_EXPORT,
		RBOOKLIST		= @RBOOK_LIST, RBORROWERLIST = @RBORROWER_LIST
		WHERE [ROLE]  = @ROLE
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_BORROWER]    Script Date: 04/25/2020 04:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_BORROWER]
	@BORROWER_ID		nvarchar(50),
	@FIRST_NAME			nvarchar(50),
	@MIDDLE_NAME		nvarchar(50),
	@LAST_NAME			nvarchar(50),
	@DOB				nvarchar(10),
	@AGE				INT,
	@CONTACT_NO			nvarchar(15),
	@ADDRESS			nvarchar(200),
	@MODIFIED_DATE		nvarchar(10),		
	@MODIFIED_BY		nvarchar(20),
	@STATUS 			nvarchar(20),
	@PROFILE_PIC		nvarchar(max)
AS

IF EXISTS(SELECT BORROWER_ID FROM TBL_BORROWER WHERE LTRIM(RTRIM(BORROWER_ID)) = @BORROWER_ID)
BEGIN
	UPDATE TBL_BORROWER 
	SET FIRST_NAME		= @FIRST_NAME,
		MIDDLE_NAME		= @MIDDLE_NAME,
		LAST_NAME		= @LAST_NAME,
		DOB				= @DOB,
		AGE				= @AGE,
		CONTACT_NO		= @CONTACT_NO,
		[ADDRESS]		= @ADDRESS,
		MODIFIED_DATE	= @MODIFIED_DATE,
		MODIFIED_BY		= @MODIFIED_BY,
		[STATUS]		= @STATUS,
		PROFILE_PIC		= @PROFILE_PIC
	WHERE LTRIM(RTRIM(BORROWER_ID)) = @BORROWER_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_BOOK_DETAILS]    Script Date: 04/25/2020 04:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_BOOK_DETAILS]
	@ID					int,
	@BOOK_NO			nvarchar(50),
	@TITLE				nvarchar(50),
	@SUBJECT			nvarchar(50),
	@CATEGORY			nvarchar(50),
	@AUTHOR				nvarchar(50),
	@PUBLISH_DATE		nvarchar(10),
	@LOCATION			nvarchar(50),
	@BOOK_PRICE			decimal(6,2),
	@RENT_PRICE			decimal(6,2),	
	@ISBN_NUMBER		nvarchar(50),	
	@MODIFIED_DATE		nvarchar(10),
	@MODIFIED_BY		nvarchar(50),	
	@REMARKS			nvarchar(50),
	@STATUS				nvarchar(50)
AS


BEGIN
	IF EXISTS(SELECT ID FROM TBL_BOOKS WHERE ID = @ID)
	BEGIN
		UPDATE TBL_BOOKS	SET 
								[STATUS]			= @STATUS,
								TITLE				= @TITLE,
								[SUBJECT]			= @SUBJECT,
								CATEGORY			= @CATEGORY,
								AUTHOR				= @AUTHOR,
								PUBLISH_DATE		= @PUBLISH_DATE,
								LOCATION			= @LOCATION,
								BOOK_PRICE			= @BOOK_PRICE,
								RENT_PRICE			= @RENT_PRICE,
								REMARKS				= @REMARKS,
								MODIFIED_DATE		= @MODIFIED_DATE,
								MODIFIED_BY			= @MODIFIED_BY
								WHERE ID			= @ID 									
								
	END														
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_BOOK]    Script Date: 04/25/2020 04:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_BOOK]
	@ID					int,
	@BOOK_NO			nvarchar(50),
	@TITLE				nvarchar(50),
	@SUBJECT			nvarchar(50),
	@CATEGORY			nvarchar(50),
	@AUTHOR				nvarchar(50),
	@PUBLISH_DATE		nvarchar(10),
	@LOCATION			nvarchar(50),
	@BOOK_PRICE			decimal(6,2),
	@RENT_PRICE			decimal(6,2),	
	@ISBN_NUMBER		nvarchar(50),	
	@MODIFIED_DATE		nvarchar(10),
	@MODIFIED_BY		nvarchar(50),	
	@REMARKS			nvarchar(50),
	@STATUS				nvarchar(50)
AS


BEGIN
	IF EXISTS(SELECT ID FROM TBL_BOOKS WHERE ID = @ID)
	BEGIN
		UPDATE TBL_BOOKS	SET 
								[STATUS]			= @STATUS,
								TITLE				= @TITLE,
								[SUBJECT]			= @SUBJECT,
								CATEGORY			= @CATEGORY,
								AUTHOR				= @AUTHOR,
								PUBLISH_DATE		= @PUBLISH_DATE,
								LOCATION			= @LOCATION,
								BOOK_PRICE			= @BOOK_PRICE,
								RENT_PRICE			= @RENT_PRICE,
								REMARKS				= @REMARKS,
								MODIFIED_DATE		= @MODIFIED_DATE,
								MODIFIED_BY			= @MODIFIED_BY
								WHERE ID			= @ID 
								AND BOOK_NO			= @BOOK_NO																		
									
	END														
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RETURN_BOOK]    Script Date: 04/25/2020 04:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RETURN_BOOK]
@BOOK_ID		NVARCHAR(50),
@BORROWER_ID	NVARCHAR(50),
@BOOK_NO		NVARCHAR(50),
@MODIFIED_DATE	nvarchar(10),
@MODIFIED_BY	nvarchar(15),
@TOTAL_AMOUNT	DECIMAL(6,2),
@REMARKS		NVARCHAR(15),
@STATUS			NVARCHAR(20)
AS			

DECLARE @TRANSACTION_NO NVARCHAR(15)

IF @TOTAL_AMOUNT <> 0
BEGIN 
	SET @TRANSACTION_NO = (SELECT TRANSACTION_NO FROM TBL_BORROWEDBOOKS WHERE BOOK_ID = @BOOK_ID
	AND BOOK_NO = @BOOK_NO AND BORROWER_ID = @BORROWER_ID AND [STATUS] = 'BORROWED')
		
	INSERT INTO TBL_PENALTIES
	SELECT @TRANSACTION_NO,@MODIFIED_DATE, @TOTAL_AMOUNT
END

		
IF LTRIM(RTRIM(@REMARKS)) = 'DAMAGE' OR LTRIM(RTRIM(@REMARKS)) = 'LOST'
BEGIN
	UPDATE TBL_BOOKS SET [STATUS] = 'INACTIVE',REMARKS = LTRIM(RTRIM(@REMARKS))
	WHERE ID = @BOOK_ID AND BOOK_NO = @BOOK_NO
END

UPDATE TBL_BORROWEDBOOKS	SET	[STATUS]		= @STATUS,
							REMARKS				= @REMARKS,
							MODIFIED_DATE		= @MODIFIED_DATE,
							MODIFIED_BY			= @MODIFIED_BY								
						WHERE 	BORROWER_ID = @BORROWER_ID	AND BOOK_ID	= @BOOK_ID
						AND BOOK_NO = @BOOK_NO
GO
/****** Object:  StoredProcedure [dbo].[SP_REQUEST_BOOK]    Script Date: 04/25/2020 04:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REQUEST_BOOK]
@ID				NVARCHAR(50),
@BORROWER_ID	NVARCHAR(50),
@BOOK_NO		NVARCHAR(50),
@TITLE			NVARCHAR(50),
@SUBJECT		NVARCHAR(50),
@CATEGORY		NVARCHAR(50),
@AUTHOR			NVARCHAR(50),
@PUBLISH_DATE	NVARCHAR(10),
@ISBN_NUMBER	NVARCHAR(50),
@LOCATION		NVARCHAR(50),
@BOOK_PRICE		NVARCHAR(50),
@RENT_PRICE		NVARCHAR(10),
@DAYS_BORROWED	NVARCHAR(10),
@ADDED_DATE		NVARCHAR(10),
@ADDED_BY		NVARCHAR(50),
@STATUS			NVARCHAR(15)

AS

DECLARE @DUE_PENALTY		NVARCHAR(10),
		@LD_PENALTY			NVARCHAR(10)
		

SET @DUE_PENALTY = (SELECT DUE_PENALTY FROM TBL_POLICY)
SET @LD_PENALTY	 = (SELECT LOST_DAMAGE_INTEREST FROM TBL_POLICY)
		
		
		
INSERT INTO TBL_BORROWERREQUEST 
	(BOOK_ID,BORROWER_ID,BOOK_NO,TITLE,[SUBJECT],CATEGORY,AUTHOR,PUBLISH_DATE,ISBN_NUMBER,LOCATION,BOOK_PRICE,RENT_PRICE,DUE_PENALTY_INTEREST,LOST_DAMAGE_INTEREST,DAYS_BORROWED,ADDED_DATE,ADDED_BY,[STATUS])
	VALUES
	(@ID,@BORROWER_ID,@BOOK_NO,@TITLE,@SUBJECT,@CATEGORY,@AUTHOR,@PUBLISH_DATE,@ISBN_NUMBER,@LOCATION,@BOOK_PRICE,@RENT_PRICE,@DUE_PENALTY,@LD_PENALTY,@DAYS_BORROWED,@ADDED_DATE,@ADDED_BY,@STATUS)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_USERACCESS]    Script Date: 04/25/2020 04:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_USERACCESS]

@BOOK_DETAILS			BIT,
@BOOK_ENTRY				BIT, 
@BOOK_AUTHOR			BIT,
@BOOK_CATEGORY			BIT,
@BOOK_LOCATION			BIT,
@BOOK_POLICY			BIT,
@BORROWER_DETAILS		BIT,
@BORROWER_ENTRY			BIT,
@BORROW_BOOK			BIT,
@RETURN_BOOK			BIT,
@PAY_BOOK				BIT,
@BORROWER_REQUEST		BIT,
@USER_ACCOUNT			BIT,
@USER_ACCESS			BIT,
@USER_ROLE				BIT,
@IMPORT_EXPORT			BIT,
@RBOOK_LIST				BIT,
@RBORROWER_LIST			BIT,
@ROLE					NVARCHAR(15)

AS

INSERT INTO TBL_USERACCESS 
(BOOKDETAILS,BOOKENTRY,BOOKAUTHOR,BOOKCATEGORY,BOOKLOCATION,BOOKPOLICY,BORROWERDETAILS, 
 BORROWERENTRY,BORROWBOOK,RETURNBOOK,PAYBOOK,BORROWERREQUEST,USERACCOUNT,USERACCESS,USERROLE,
 IMPORTEXPORT , RBOOKLIST, RBORROWERLIST,[ROLE]) 
	VALUES (@BOOK_DETAILS,@BOOK_ENTRY,@BOOK_AUTHOR,@BOOK_CATEGORY,@BOOK_LOCATION,@BOOK_POLICY,
			@BORROWER_DETAILS,@BORROWER_ENTRY,@BORROW_BOOK,@RETURN_BOOK,@PAY_BOOK,@BORROWER_REQUEST,
			@USER_ACCOUNT,@USER_ACCESS,@USER_ROLE,@IMPORT_EXPORT,@RBOOK_LIST,@RBORROWER_LIST,@ROLE)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_BORROWER]    Script Date: 04/25/2020 04:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_BORROWER]
	@BORROWER_ID		nvarchar(50),
	@FIRST_NAME			nvarchar(50),
	@MIDDLE_NAME		nvarchar(50),
	@LAST_NAME			nvarchar(50),
	@DOB				nvarchar(10),
	@AGE				INT,
	@CONTACT_NO			nvarchar(15),
	@ADDRESS			nvarchar(200),
	@ADDED_DATE			nvarchar(10),
	@ADDED_BY			nvarchar(20),
	@MODIFIED_DATE		nvarchar(10),		
	@MODIFIED_BY		nvarchar(20),
	@PROFILE_PIC		nvarchar(max)
AS

IF NOT EXISTS(SELECT BORROWER_ID FROM TBL_BORROWER WHERE LTRIM(RTRIM(BORROWER_ID)) = @BORROWER_ID)
BEGIN
	INSERT INTO TBL_BORROWER
	SELECT @BORROWER_ID,@FIRST_NAME,@MIDDLE_NAME,@LAST_NAME,@DOB,@AGE,@CONTACT_NO,@ADDRESS,@ADDED_DATE,@ADDED_BY,@MODIFIED_DATE,@MODIFIED_BY,'ACTIVE',@PROFILE_PIC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_BOOK]    Script Date: 04/25/2020 04:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_BOOK]
	@ID					int,
	@BOOK_NO			nvarchar(15),
	@TITLE				nvarchar(100),
	@SUBJECT			nvarchar(100),
	@CATEGORY			nvarchar(50),
	@AUTHOR				nvarchar(50),
	@PUBLISH_DATE		nvarchar(10),
	@ISBN_NUMBER		nvarchar(50),
	@LOCATION			nvarchar(200),
	@BOOK_PRICE			decimal(6,2),
	@RENT_PRICE			decimal(6,2),
	@ADDED_DATE			nvarchar(10),	
	@ADDED_BY			nvarchar(50),
	@MODIFIED_DATE		nvarchar(10),
	@MODIFIED_BY		nvarchar(50)
	
AS

IF NOT EXISTS(SELECT ID FROM TBL_BOOKS WHERE LTRIM(RTRIM(BOOK_NO)) = @BOOK_NO AND LTRIM(RTRIM(ISBN_NUMBER)) = @ISBN_NUMBER)
BEGIN
	INSERT INTO TBL_BOOKS
	SELECT @ID,@BOOK_NO,@TITLE,@SUBJECT,@CATEGORY,@AUTHOR,@PUBLISH_DATE,@ISBN_NUMBER,@LOCATION,@BOOK_PRICE,@RENT_PRICE,@ADDED_DATE,@ADDED_BY,@MODIFIED_DATE,@MODIFIED_BY,'','ACTIVE'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_BORROWER]    Script Date: 04/25/2020 04:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GET_BORROWER]

@DATE_FROM		NVARCHAR(10),
@DATE_TO		NVARCHAR(10)

AS

SELECT * FROM TBL_BORROWER
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKOUT_BOOK]    Script Date: 04/25/2020 04:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECKOUT_BOOK]
@BOOK_ID		NVARCHAR(50),
@BORROWER_ID	NVARCHAR(50),
@BOOK_NO		NVARCHAR(50),
@TITLE			NVARCHAR(50),
@SUBJECT		NVARCHAR(50),
@CATEGORY		NVARCHAR(50),
@AUTHOR			NVARCHAR(50),
@PUBLISH_DATE	NVARCHAR(10),
@ISBN_NUMBER	NVARCHAR(50),
@LOCATION		NVARCHAR(50),
@BOOK_PRICE		NVARCHAR(50),
@RENT_PRICE		NVARCHAR(10),
@DAYS_BORROWED	NVARCHAR(10),
@ADDED_DATE		NVARCHAR(10),
@ADDED_BY		NVARCHAR(50),
@TRANSACTION_NO	NVARCHAR(15)

AS

DECLARE @DUE_PENALTY		NVARCHAR(10),
		@LD_PENALTY			NVARCHAR(10)
		

SET @DUE_PENALTY = (SELECT DUE_PENALTY FROM TBL_POLICY)
SET @LD_PENALTY	 = (SELECT LOST_DAMAGE_INTEREST FROM TBL_POLICY)
		
		
		
INSERT INTO TBL_BORROWEDBOOKS 
	(BOOK_ID,BORROWER_ID,BOOK_NO,TITLE,[SUBJECT],CATEGORY,AUTHOR,PUBLISH_DATE,ISBN_NUMBER,LOCATION,BOOK_PRICE,RENT_PRICE,DUE_PENALTY_INTEREST,LOST_DAMAGE_INTEREST,DAYS_BORROWED,ADDED_DATE,ADDED_BY,TOTAL_AMOUNT,TRANSACTION_NO)
	VALUES
	(@BOOK_ID,@BORROWER_ID,@BOOK_NO,@TITLE,@SUBJECT,@CATEGORY,@AUTHOR,@PUBLISH_DATE,@ISBN_NUMBER,@LOCATION,@BOOK_PRICE,@RENT_PRICE,@DUE_PENALTY,@LD_PENALTY,@DAYS_BORROWED,@ADDED_DATE,@ADDED_BY,CAST(@RENT_PRICE AS DECIMAL(6,2)) * CAST(@DAYS_BORROWED AS DECIMAL(6,2)),@TRANSACTION_NO)
	
	
	UPDATE TBL_BORROWERREQUEST SET [STATUS] = 'SETTLED', MODIFIED_DATE = @ADDED_DATE,
		MODIFIED_BY = @ADDED_BY
		WHERE BORROWER_ID = @BORROWER_ID
		AND BOOK_NO = @BOOK_NO
GO
/****** Object:  Default [DF_tbl_Party_STATUS]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_Author] ADD  CONSTRAINT [DF_tbl_Party_STATUS]  DEFAULT (N'ACTIVE') FOR [STATUS]
GO
/****** Object:  Default [DF_tbl_Books_STATUS]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_Books] ADD  CONSTRAINT [DF_tbl_Books_STATUS]  DEFAULT (N'ACTIVE') FOR [STATUS]
GO
/****** Object:  Default [DF_tbl_BorrowedBooks_STATUS]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_BorrowedBooks] ADD  CONSTRAINT [DF_tbl_BorrowedBooks_STATUS]  DEFAULT (N'BORROWED') FOR [STATUS]
GO
/****** Object:  Default [DF_tbl_Students_STATUS]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_Borrower] ADD  CONSTRAINT [DF_tbl_Students_STATUS]  DEFAULT (N'Active') FOR [STATUS]
GO
/****** Object:  Default [DF_tbl_BorrowerRequest_STATUS]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_BorrowerRequest] ADD  CONSTRAINT [DF_tbl_BorrowerRequest_STATUS]  DEFAULT (N'BORROWED') FOR [STATUS]
GO
/****** Object:  Default [DF_tbl_Position_STATUS]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_Category] ADD  CONSTRAINT [DF_tbl_Position_STATUS]  DEFAULT (N'ACTIVE') FOR [STATUS]
GO
/****** Object:  Default [DF_tbl_User_STATUS]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_User] ADD  CONSTRAINT [DF_tbl_User_STATUS]  DEFAULT (N'ACTIVE') FOR [STATUS]
GO
/****** Object:  Default [DF_tbl_UserAcess_BookDetails]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_UserAccess] ADD  CONSTRAINT [DF_tbl_UserAcess_BookDetails]  DEFAULT ((0)) FOR [BookDetails]
GO
/****** Object:  Default [DF_tbl_UserAcess_BookEntry]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_UserAccess] ADD  CONSTRAINT [DF_tbl_UserAcess_BookEntry]  DEFAULT ((0)) FOR [BookEntry]
GO
/****** Object:  Default [DF_tbl_UserAcess_BookAuthor]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_UserAccess] ADD  CONSTRAINT [DF_tbl_UserAcess_BookAuthor]  DEFAULT ((0)) FOR [BookAuthor]
GO
/****** Object:  Default [DF_tbl_UserAcess_BookCategory]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_UserAccess] ADD  CONSTRAINT [DF_tbl_UserAcess_BookCategory]  DEFAULT ((0)) FOR [BookCategory]
GO
/****** Object:  Default [DF_tbl_UserAcess_BookLocation]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_UserAccess] ADD  CONSTRAINT [DF_tbl_UserAcess_BookLocation]  DEFAULT ((0)) FOR [BookLocation]
GO
/****** Object:  Default [DF_tbl_UserAcess_BookPolicy]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_UserAccess] ADD  CONSTRAINT [DF_tbl_UserAcess_BookPolicy]  DEFAULT ((0)) FOR [BookPolicy]
GO
/****** Object:  Default [DF_tbl_UserAcess_BorrowerDetails]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_UserAccess] ADD  CONSTRAINT [DF_tbl_UserAcess_BorrowerDetails]  DEFAULT ((0)) FOR [BorrowerDetails]
GO
/****** Object:  Default [DF_tbl_UserAcess_BorrowerEntry]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_UserAccess] ADD  CONSTRAINT [DF_tbl_UserAcess_BorrowerEntry]  DEFAULT ((0)) FOR [BorrowerEntry]
GO
/****** Object:  Default [DF_tbl_UserAcess_BorrowBook]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_UserAccess] ADD  CONSTRAINT [DF_tbl_UserAcess_BorrowBook]  DEFAULT ((0)) FOR [BorrowBook]
GO
/****** Object:  Default [DF_tbl_UserAcess_ReturnBook]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_UserAccess] ADD  CONSTRAINT [DF_tbl_UserAcess_ReturnBook]  DEFAULT ((0)) FOR [ReturnBook]
GO
/****** Object:  Default [DF_tbl_UserAcess_PayBook]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_UserAccess] ADD  CONSTRAINT [DF_tbl_UserAcess_PayBook]  DEFAULT ((0)) FOR [PayBook]
GO
/****** Object:  Default [DF_tbl_UserAcess_BorrowerRequest]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_UserAccess] ADD  CONSTRAINT [DF_tbl_UserAcess_BorrowerRequest]  DEFAULT ((0)) FOR [BorrowerRequest]
GO
/****** Object:  Default [DF_tbl_UserAcess_UserAccount]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_UserAccess] ADD  CONSTRAINT [DF_tbl_UserAcess_UserAccount]  DEFAULT ((0)) FOR [UserAccount]
GO
/****** Object:  Default [DF_tbl_UserAcess_UserAccess]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_UserAccess] ADD  CONSTRAINT [DF_tbl_UserAcess_UserAccess]  DEFAULT ((0)) FOR [UserAccess]
GO
/****** Object:  Default [DF_tbl_UserAcess_UserRole]    Script Date: 04/25/2020 04:24:49 ******/
ALTER TABLE [dbo].[tbl_UserAccess] ADD  CONSTRAINT [DF_tbl_UserAcess_UserRole]  DEFAULT ((0)) FOR [UserRole]
GO
